@page "/geolocation"
@using HighFive.Data;
@inherits GeolocationBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h1>Geolocation</h1>

<div class="my-3">
    <p class="my-0"><span class="font-weight-bold"></span> 
        @if(CurrentPositionResult?.Position is null)
        {
            <span>[unknown]</span>
        }
        else
        {
            <span>Ваш текущий адрес: @currentAdress</span>
        }
    </p>
    <button class="btn btn-primary my-3" @onclick="ShowCurrentPosition">Получить организации по локации</button>
    @if (CurrentPositionResult?.Error != null)
    {
        <p class="bg-light text-danger">Error: @CurrentPositionResult.Error.Message</p>
    }

    </div>
        <button class="btn btn-primary my-3" @onclick="GetOrganizations">Получить организации по запросу</button>
        <input @bind-value="adressToSearch" @bind-value:event="oninput" ></input>
    <div>
</div>

<div>
    <OrganizationsTable Organizations = "@foundOrganizations"/>
</div>
