@page "/"

<h1>Сервис HighFive</h1>

<p>Сервис обладает двумя функциями:</p>
<p>1) Geolocation: позволяет найти орагнизацию по текущему местоположению или запросу и поставить оценку </p>
<p>2) Get Report: получить отчет из топ 10 мест по популярности на почту </p>


