@page "/sendrate"
@*@using Microsoft.Extensions.Logging
@inject ILogger<SendRateModel> Logger*@
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Оценить</h3>
@*<div>
    <input placeholder = "fdf" @bind-value="FirstName" @bind-value:event="oninput" ></input>
</div>
<div>
    <input @bind-value="LastName" @bind-value:event="oninput" ></input>
</div>
<div>
    <input @bind-value="MiddleName" @bind-value:event="oninput" ></input>
</div>
<div>
    <input @bind-value="Rate" @bind-value:event="oninput" ></input>
</div>
<div>
    <input @bind-value="Rewiew" @bind-value:event="oninput" ></input>
</div>
<div>
    <button class="btn btn-primary my-3" @onclick="SendUserInput">Отправить отзыв</button>
</div>*@
<h1>Адрес: @GeolocationBase.Value.adressToSearch</h1>

<EditForm Model = "@RateModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <div class = "form-group">
            <input placeholder = "Введите имя" @bind-value="RateModel.FirstName" @bind-value:event="oninput" paddi></input>
            <ValidationMessage For="() => RateModel.FirstName"/>
        </div>
        <div class="form-group">
            <input placeholder = "Введите фамилию" @bind-value="RateModel.LastName" @bind-value:event="oninput" ></input>
            <ValidationMessage For="() => RateModel.LastName"/>
        </div>
        <div class = "form-group">
            <input placeholder = "Введите отчество" @bind-value="RateModel.MiddleName" @bind-value:event="oninput" ></input>
            <ValidationMessage For="() => RateModel.MiddleName"/>
        </div>
        <div class = "form-group">
            <input placeholder = "Введите отчество" @bind-value="RateModel.Rate" @bind-value:event="oninput" ></input>
            <ValidationMessage For="() => RateModel.Rate"/>
        </div>
        <div class = "form-group">
            <input placeholder = "Введите отчество" @bind-value="RateModel.Rewiew" @bind-value:event="oninput" ></input>
            <ValidationMessage For="() => RateModel.Rewiew"/>
        </div>
        <button type = "submit" class = "btn btn-primary" @onclick="RateModel.SendUserInput">Submit</button>
</EditForm>

@code{
    public SendRateModel RateModel = new SendRateModel();

    private void HandleValidSubmit()
    {
        //Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
    }
}

<style>
    .form-group{
        width: 200px;
    }
</style>

