@using HighFive.Data;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <td>Наименование</td>
                <td>Адрес</td>
                <td>URL</td>
                <td>Оценить</td>
            </tr>
        </thead>
        <tbody>
            @if(Organizations == null)
            {
                <tr>Загружаем данные...</tr>
            }
            else if (Organizations.Count == 0)
            {
                <tr>Нет данных для отображения...</tr>
            }
            else
            {

                @foreach(var org in Organizations)
                {
                <tr>
                    <td>@org.name</td>
                    <td>@org.address</td>
                    <td>@org.url</td>
                    <a href="/sendrate">
                    <span class="btn btn-primary my-3" @onclick="(() => SetAdress(org.address, org.name)) ">Оценить</span>
                    </a>
                </tr>
                }
            }
        </tbody>
    </table>

</div>

@code {
    [Parameter]
    public List<OrganizationInfo> Organizations { get; set; }

    public void SetAdress(string adress, string name)
    {
        sessionStorage.SetItemAsync("address", adress);
        sessionStorage.SetItemAsync("orgName", name);
    }
}
